<%= form_for(comment, url: comments_path) do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <article class="message-box message-box-answer js-answer-box">
    <%= f.text_area :body, class: 'js-answer-input message-box-input' %>
    <span class="message-box-submit">
      <%= button Spree.t(:ask), '' %>
    </span>
  </article>
<% end %>
