<div class="message-box-wrapper clearfix">
  <div class="message-box-item">
    <article class="message-box">
      <%= image_tag comment.user.profile_image_url(:thumb), size: '40x40', class: 'message-box-image' %>
      <span class="message-box-info"><%= "#{comment.user.first_name} - perguntou há #{time_ago_in_words(comment.created_at)} - #{product.name}" %></span>
      <p class="message-box-content"><%= comment.body %></p>
    </article>
  </div>

  <% if comment.answer.present? %>
    <div class="message-box-item">
      <article class="message-box">
        <span class="message-box-info"><%= Spree.t(:answer) %></span>
        <p class="message-box-content"><%= comment.answer.body %></p>
      </article>
    </div>

  <% elsif @product.seller_id == try_spree_current_user.try(:id) %>
    <div class="message-box-item">
      <%= render partial: 'comments/form', locals: { comment: comment.build_answer } %>
    </div>
  <% end %>
</div>
